extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Reviewer was created to help people find great places to sit down and chill out
        | <br /> <br />
        | Testing text for testing, placeholder for other stuff and other stuff