extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Reviewer
          small  - Find and review places near you!
  .row
    .col-xs.12.col-sm-8
      p List ....
    .col-xs-12.col-sm-4
      p.lead Reviewer helps you locate and review places you've been.
